<!DOCTYPE html>

<html>
    <body>
    <h1 style="font-size:300%;text-align:center"> DATA FROM STM32</h1>
    <p style="font-size:200%;text-align:center"> Nhiệt độ: <%= nhietdo %> 0C </p>
    <p style="font-size:200%;text-align:center"> Độ ẩm: <%= doam%> % </p> 
    <p style="font-size:200%;text-align:center">ADC quang trở: <%= adc%>  </p>
    </body>
</html>